<p id="notice"><%= notice %></p>

<h3>Your ToDo Items</h3>

<div class='todo uncompleted'>
  <table id='uncompleted-task-list'>
    <%= render @tasks.uncompleted %>
  </table>
</div>

<hr>

<h4>Completed Items:</h4>

<div class='todo completed'>
  <table id='completed-task-list'>
    <%= render @tasks.completed %>
  </table>
</div>

<%= link_to 'New Task', new_task_path %>

<%# here we'll introduce our javascipt..but we need to tell ERB to ignore it %>
<%# you do that with the javascript_tag do/end directives %>
<%= javascript_tag do %>
  
  $(document).on('click', '.task-checkbox', function(event){
    console.log('You clicked on checkbox ' + event.target.id);

    $.ajax({
      type: 'PUT',
      url: '/tasks/' + event.target.id + '.json', 
      data: { id: event.target.id, task: { is_complete: $(event.target).is(":checked") } },
      complete: function(returned_data) {
        // get the JSON in the returned payload
        j = returned_data.responseJSON;
        // calculate the ID of the task item (a tr in the table element)
        target_task = "#task-" + j['id'];

        if (j['is_complete'] == false) {
          // task needs to be removed from the completed list and added to the uncompleted list
          console.log('removing from completed and adding to uncompleted');
          $('#uncompleted-task-list').append($(target_task));
        }
        else {
          console.log('removing from uncompleted and adding to completed')
          $('#completed-task-list').append($(target_task));
        }
      }
    })
  })


<% end %>