<p id="notice"><%= notice %></p>

<h3>Your ToDo Items</h3>

<div class='todo uncompleted'>
  <table>
    <%= render @tasks.uncompleted %>
  </table>
</div>

<hr>

<h4>Completed Items:</h4>

<div class='todo completed'>
  <table>
    <%= render @tasks.completed %>
  </table>
</div>

<%= link_to 'New Task', new_task_path %>

<%# here we'll introduce our javascipt..but we need to tell ERB to ignore it %>
<%# you do that with the javascript_tag do/end directives %>
<%= javascript_tag do %>
  
  $('.task-checkbox').click(function(event){
    console.log('You clicked on checkbox ' + event.target.id);

  $.ajax({
    type: 'PUT',
    url: '/tasks/' + event.target.id, 
    data: { id: event.target.id, task: { is_complete: $(event.target).is(":checked") } }
  })
})


<% end %>